{% include header.html %}
  <article>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>Archive</h2>

          {% for post in site.posts %}
            {% if post.project_link contains "www.kaggle.com" %}
            <p>{{ post.date | slice: 0,10 }} - <a href="{{ post.project_link }}">{{ post.title }} (Kaggle)</a></p>
            {% else %}
            <p>{{ post.date | slice: 0,10 }} - <a href="{{ site.baseurl}}/{{ post.project_link }}">{{ post.title }}</a></p>
            {% endif %}
          {% endfor %}

        </div>
      </div>
    </div>
  </article>

{% include footer.html %}
